@model AirLine.ViewModel.EmployeeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDDay" class="control-label"></label>
                <input asp-for="BDDay" class="form-control" />
                <span asp-validation-for="BDDay.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDMonth" class="control-label"></label>
                <input asp-for="BDMonth" class="form-control" />
                <span asp-validation-for="BDMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDYear" class="control-label"></label>
                <input asp-for="BDYear" class="form-control" />
                <span asp-validation-for="BDYear.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>AirLine Name</label>
                <select asp-for="AirLineId" class="form-control" asp-items="@(new SelectList(Model.AirLines_list,"Id" ,"Name" ))"></select>


            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisible" /> @Html.DisplayNameFor(model => model.IsVisible)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
            <div>
                <button asp-action="Index" class="btn btn-primary">Back</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}